CREATE TABLE swipe_gesture_data (
    id SERIAL PRIMARY KEY,
    user_id INT NOT NULL,
    left_to_right FLOAT DEFAULT 0.0,
    right_to_left FLOAT DEFAULT 0.0,
    scroll_up FLOAT DEFAULT 0.0,
    scroll_down FLOAT DEFAULT 0.0,
    zoom_in FLOAT DEFAULT 0.0,
    zoom_out FLOAT DEFAULT 0.0,
    swipe_width FLOAT DEFAULT 0.0,
    swiping_repetitions_x_coordinate FLOAT DEFAULT 0.0,
    swiping_repetitions_y_coordinate FLOAT DEFAULT 0.0,
    total_number_of_clicks FLOAT DEFAULT 0.0,
    total_time_taken FLOAT DEFAULT 0.0,
    velocity FLOAT DEFAULT 0.0,
    device_screen_width FLOAT DEFAULT 0.0,
    max_swipe_speed FLOAT DEFAULT 0.0,
    min_swipe_speed FLOAT DEFAULT 0.0,
);
