<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_('User Information')}}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/user_info.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xl-12">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <div style="text-align: right;">
                                <!-- Language Selection -->
                                {% if get_locale() == 'en' %}
                                <a href="{{ url_for('change_language', language='es') }}">Español</a>
                                {% elif get_locale() == 'es' %}
                                <a href="{{ url_for('change_language', language='en') }}">English</a>
                                {% endif %}
                            </div>
                            <h3 class="mb-3 pb-2 pb-md-0 mb-md-3">{{_('User Information')}}</h3>
                            <ul style="list-style-type:cicrle">
                                <li>{{_('Grasp: From which hand you have held the device.')}}</li>
                                <li>{{_('Hand Movement: Which hand is using right, left or both hands.')}}</li>
                                <li>{{_('Device Orientation: The device orientation is in landscape or portrait')}}</li>
                            </ul>

                            <form id="form" class="was-validated" action="/user_info" method="POST">
                                <div class="row form-container">
                                    <!-- Age -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="age" class="form-label"><strong>{{_('Age')}}</strong></label>
                                            <div class="input-group">
                                                <input name='age' id="age" type="number" required value="0" min="1"
                                                    max="90"
                                                    style="text-align: center; min-width: 60%; min-height: 2.5em; border-radius: 5%; " />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <button type="button" class="btn btn-secondary"
                                                            id="decrementAge">-</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            id="incrementAge">+</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="validAge">{{_('Please fill out this field
                                                with a valid age between 0 and 99.')}}</div>
                                        </div>
                                    </div>



                                    <!-- Gender -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="gender"
                                                class="form-label"><strong>{{_('Gender')}}</strong></label>
                                            <select name="gender" id="gender" required class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="1">{{_('Male')}}</option>
                                                <option value="2">{{_('Female')}}</option>
                                                <option value="3">{{_('Other')}}</option>
                                            </select>
                                            <p id="selectGender" class="invalid-feedback">
                                                {{_('Please select an option.')}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Hand -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="hand" class="form-label"><strong>{{_('Hand')}}</strong></label>
                                            <select name="hand" id="hand" required class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="left">{{_('Left Hand')}}</option>
                                                <option value="right">{{_('Right Hand')}}</option>
                                                <option value="both">{{_('Both Hands')}}</option>
                                                <option value="right_index">{{_('Right Index')}}</option>
                                                <option value="left_index">{{_('Left Index')}}</option>
                                                <option value="right_thumb">{{_('Right Thumb')}}</option>
                                                <option value="left_thumb">{{_('Left Thumb')}}</option>
                                            </select>
                                            <p id="selectHand" class="invalid-feedback">
                                                {{_('Please select an option.')}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Touchscreen Device -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="device" class="form-label"><strong>{{_('Touchscreen
                                                    Device')}}</strong></label>
                                            <select name="device" id="device" required class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="iphone">{{_('iPhone')}}</option>
                                                <option value="android">{{_('Android')}}</option>
                                                <option value="tablet">{{_('Tablet')}}</option>
                                                <option value="ipad">{{_('iPad')}}</option>
                                            </select>
                                            <p id="selectDevice" class="invalid-feedback">
                                                {{_('Please select an option.')}}
                                            </p>
                                        </div>
                                    </div>

                                    <!-- ... (existing code) -->

                                    <!-- Add the new fields for GRASP, DEVICE ORIENTATION, and HAND MOVEMENT -->
                                    <!-- GRASP -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="grasp"
                                                class="form-label"><strong>{{_('GRASP')}}</strong></label>
                                            <select name="grasp" id="grasp" required class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="left">{{_('Left')}}</option>
                                                <option value="both">{{_('Both')}}</option>
                                                <option value="right">{{_('Right')}}</option>
                                                <option value="no_grasp">{{_('No Grasp')}}</option>
                                            </select>
                                            <p id="selectGrasp" class="invalid-feedback">
                                                {{_('Please select a grasp option.')}}
                                            </p>
                                        </div>
                                    </div>

                                    <!-- DEVICE ORIENTATION -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="orientation" class="form-label"><strong>{{_('Device
                                                    Orientation')}}</strong></label>
                                            <select name="orientation" id="orientation" required class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="landscape">{{_('Landscape')}}</option>
                                                <option value="portrait">{{_('Portrait')}}</option>
                                            </select>
                                            <p id="selectOrientation" class="invalid-feedback">
                                                {{_('Please select a device orientation option.')}}
                                            </p>
                                        </div>
                                    </div>

                                    <!-- HAND MOVEMENT -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="hand_movement" class="form-label"><strong>{{_('Hand
                                                    Movement')}}</strong></label>
                                            <select name="hand_movement" id="hand_movement" required
                                                class="form-control">
                                                <option value="0">{{_('Select Option')}}</option>
                                                <option value="right">{{_('Right Hand')}}</option>
                                                <option value="left">{{_('Left Hand')}}</option>
                                                <option value="both">{{_('Both Hands')}}</option>
                                            </select>
                                            <p id="selectHandMovement" class="invalid-feedback">
                                                {{_('Please select a hand movement option.')}}
                                            </p>
                                        </div>
                                    </div>

                                    <!-- ... (existing code) -->


                                    <div>
                                        <input id="nextButton" class="btn btn-primary btn-lg" type="submit"
                                            value="{{_('Next')}}" style="float: right;" />

                                        <a href="/" class="btn btn-primary btn-lg"
                                            style="float: left;">{{_('Back')}}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/static/js/datepicker.js"></script>
<script src="/static/js/spinbox.js"></script>

<script>
    //function to handle age increment

    // Function to handle the "Next" button click
    function handleNextButtonClick() {
        var valid = true;

        // Age validation
        if ($('#age').val() < 1) {
            $("#validAge").show();
            valid = false;
        } else {
            $("#validAge").hide();
        }

        // Gender validation
        if ($("#gender").val() === '0') {
            $("#selectGender").show();
            valid = false;
        } else {
            $("#selectGender").hide();
        }

        // Hand validation
        if ($("#hand").val() === '0') {
            $("#selectHand").show();
            valid = false;
        } else {
            $("#selectHand").hide();
        }

        // Device validation
        if ($("#device").val() === '0') {
            $("#selectDevice").show();
            valid = false;
        } else {
            $("#selectDevice").hide();
        }

        // New fields validation
        if ($("#grasp").val() === '0') {
            $("#selectGrasp").show();
            valid = false;
        } else {
            $("#selectGrasp").hide();
        }

        if ($("#orientation").val() === '0') {
            $("#selectOrientation").show();
            valid = false;
        } else {
            $("#selectOrientation").hide();
        }

        if ($("#hand_movement").val() === '0') {
            $("#selectHandMovement").show();
            valid = false;
        } else {
            $("#selectHandMovement").hide();
        }

        // Submit the form if all validations pass
        if (valid) {
            $("#form")[0].submit();
        }
    }

    // Attach the click event handler to the "Next" button
    $("#nextButton").click(function (e) {
        e.preventDefault(); // Prevent the default form submission
        handleNextButtonClick(); // Call the function to handle the button click
    });

    $("#form").submit(function (e) {
        e.preventDefault();
        if ($('#age').val() < 1) {
            $("#validAge").show();
            return;
        }
        if ($("#gender").val() === '0') {
            $("#selectGender").show();
            return;
        }
        if ($("#hand").val() === '0') {
            $("#selectHand").show();
            return;
        }
        if ($("#device").val() === '0') {
            $("#selectDevice").show();
            return;
        }

        // New fields validation
        if ($("#grasp").val() === '0') {
            $("#selectGrasp").show();
            return;
        }
        if ($("#orientation").val() === '0') {
            $("#selectOrientation").show();
            return;
        }
        if ($("#hand_movement").val() === '0') {
            $("#selectHandMovement").show();
            return;
        }
        $("#form")[0].submit();
    });

    $("#gender").change(() => {
        if ($("#gender").val() !== '0') {
            $("#selectGender").hide();
        } else {
            $("#selectGender").show();
        }
    });

    $('#age').change(() => {
        if ($('#age').val() < 1) {
            $("#validAge").show();
            $('input[type="submit"]').prop("disabled", true);
        } else {
            $("#validAge").hide();
            $('input[type="submit"]').prop("disabled", false);
        }
    });

    $('#hand').change(() => {
        if ($('#hand').val() !== '0') {
            $("#selectHand").hide();
        } else {
            $("#selectHand").show();
        }
    });

    $('#device').change(() => {
        if ($('#device').val() !== '0') {
            $("#selectDevice").hide();
        } else {
            $("#selectDevice").show();
        }
    });

    // Increment and Decrement age buttons
    $("#incrementAge").click(function () {
        var currentAge = parseInt($('#age').val());
        if (currentAge < 99) {
            $('#age').val(currentAge + 1);
        }
    });

    $("#decrementAge").click(function () {
        var currentAge = parseInt($('#age').val());
        if (currentAge > 0) {
            $('#age').val(currentAge - 1);
        }
    });

    // Validation and feedback
    $('#age').change(function () {
        var currentAge = parseInt($('#age').val());
        if (currentAge < 0 || currentAge > 99) {
            $("#validAge").show();
            $('input[type="submit"]').prop("disabled", true);
        } else {
            $("#validAge").hide();
            $('input[type="submit"]').prop("disabled", false);
        }
    });


    // Disable the back button when the user navigates away
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });


</script>


</html>